// Header

.dateInterval {
  margin-bottom: 8px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  @include display-flex;
  @include justify-content(space-around);

  & > * {
    display: block;
  }

  span {
    width: 100%;
  }
}

.arrowActive {
  cursor: pointer;
}

.arrowInactive {
  opacity: 0.3;
}

// Body

.dateCol {
  & > p {
    margin: 0;
    text-align: center;
  }

  & > .day {
    font-size: 1.25rem;
  }

  & > .date {
    font-size: 0.85rem;
    font-weight: lighter;
    opacity: 0.5;
  }
}

.timeslot {
  text-align: center;
  height: 2.5rem;
  line-height: 2.5rem;
  color: white;
  background-color: cyan;
  @include transition(background-color 1s);
  cursor: pointer;

  &:hover {
    background-color: blue;
  }
}
